*.o
*~
tmp
*.i
*.s
TAGS
a.out
x
x.*
y
y.*
z.*
z
/iotest
/iotest2
/pc1
/pi
/g-s-p
/pi.c
/pc1.c
/pc2.c
/g-s-p
/g-s-p.c
/embedded.c
/pi_call_primitive.pl
/pi_evaluate_op.pl
/pi_system_predicate.pl
/pb
/pc32
/README.html
/pio
/pb.c
/gmon.out
/pc1o
/pc.c
/arm-pi
/pc.tar.gz
